svg{
    background-color: rgb(255, 255, 255);
    width: 40vw;
    min-width: 300px;
    max-width: 400px;
}

.picker{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.widg label img{
    height: 90%;
}

path{
    stroke: none;
    fill: grey;
}

#outline{
    stroke: none;
    fill: rgb(190, 190, 190);
}

@media (hover: hover) {g:hover path{fill: rgb(255, 77, 77) !important;}}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
}

.widg{
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vw;
    max-width: 800px;
}

.widg p{
    font-weight: 600;
}

input[type=text]{
    text-align: center;
    height: 35px;
    width: 250px;
    border-radius: 10px;
}

ul{
    display: flex;
    column-gap: 1vw;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul label{
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

input[type=checkbox], input[type=radio]{
    display:none;
}


input[type=checkbox] + label, input[type=radio] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 193, 193);
    margin: 5px 5px;
    text-align: center;
    height: 75px;
    width: 75px;;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

input[type=checkbox]:checked + label, input[type=radio]:checked + label{
    background-color: rgb(255, 77, 77);
    color: rgb(0, 0, 0);
}

input[type=range]{
    width: 80vw;
    height: 20px;
    max-width: 400px;
}

input[type=submit]{
    width: 60px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 15px;
    border: none;
}

#actmuscle ul{
    display: none;
}