.check + .checklabel{
    border: 2px solid black;
}

.check:checked + .checklabel{
    background-color: aqua;
}

.check{
    display: none;
}

.exlist{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#filter{
    display: inline;
}

.l1{order: 1;}
.l2{order: 2;}
.l3{order: 3;}
.l4{order: 4;}

.exsingle{
    display: block;
    border-radius: 15px;
    width: 90vw;
    max-width: 810px;
    margin: 5px 2px;
    background-color: rgb(221, 221, 221)
}

.colla{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content:center;
    column-gap: 5vw;
    background-color: rgb(178, 178, 178);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 15px;
}

#exname{
    width: 70%;
    font-weight: 520;
}

.wodname{
    text-align:start !important;
}

.colla label{
    font-weight: 400;
    font-size: 1rem;
}

.cont {
    padding: 0px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.cont label{
    color: rgb(0, 0, 0);
    margin:2px;
}

.contblock{
    margin-top: 5px;
    display: flex;
    align-items:baseline;
    width: 100%;
}

.sidename{
    white-space: nowrap;
    min-width: 35%;
    width: fit-content;
}
.sidecont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    font-weight: 500;
    min-height: 35px;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.single_item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 3px;
}
.btn_spacer{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-bottom: 10px;
}
.edit_button{
    justify-content: center;
    padding: 7px 15px;
    background-color: black;
    color: white;
    margin-bottom: 7px;
    border-radius: 5px;
}